:host {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 52px);

    button {
      border: 2px solid #ffff00;
      margin: 0 2rem;
      width: 10rem;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
